<!DOCTYPE html>
<html lang="en">
<head>
   <%- include('../partials/head.ejs')  %>
</head>
<body>
   <%- include('../partials/navbar.ejs') %>

   
     

  
      <%- include('../partials/heading.ejs', {tags: '<h1>Clean Blog</h1>\n<span class="subheading">A Blog Theme by Start Bootstrap</span>'}) %>
      <%- include('../partials/main.ejs') %>



   <%- include('../partials/footer.ejs') %>
</body>
</html>
